body{
    font-family: Arial, Helvetica, sans-serif;
    color:#212121;
}

.navbar{
    height: 90px;
    background-color: #464646;
   // box-shadow: 0 8px 8px -4px lightblue;   
}
.heading {
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    padding: 1rem;
}

.headingTwo {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding: 1rem;
}
.login-input{
    width: 100%
}

.card{
    top: 20px;
    width: 30rem;
    margin:auto;
}
.card-title{
    background-color: #464646;  
}
.btn-secondary{
margin-left: 10px;
}
.card-body{
 padding: 20px
}
.time-label-start{
    margin-right: 10px;
    font-weight: 500
}
.time-label-end{
    margin-right: 16px;
    font-weight: 500
}
.btn{
    float:right;
}
.login{
    margin:auto;
    margin-top: 85px
}
.loginbtn a{
    color: #fff !important;
}